html, body {
	height: 100%;
	background-image: url("fdc.jpg");
}

.nav {
	top: initial;
}

.off-canvas-wrapper {
	min-height: 100%;
	box-shadow: 1px;
}

.off-canvas-wrapper a{
	color:#E59866;
}

.off-canvas-wrapper a:hover{
	background-color: #85929E!important;
}

main {
	padding-bottom: 100px;
}

.page-title, .title, .p, .textfield, .text{
	margin-top: 10px;
	margin-left: 10px;
}

.textarea {
	margin-left: 10px;
}

.tasklist-header, .tasklist-item {
	padding: 15px;
	width: 100%;
	display :inline-block;
	margin-right: auto;
	margin-left: auto;
}

.tasklist-header {
	background: black;
  	color: white;
  	font-weight: bold;
}

.tasklist-item:hover{
	background-color: #85929E!important;
}

.tasklist-item-id{
	@include breakpoint(small){
		font-size: 0%;
		width: 0px;
		margin: 0px 0px 0px 0px;
		display :inline-block;
		text-align: center;
	}
	@include breakpoint(medium){
		font-size: 75%;
		width: 30px;
		margin: 0px 5px 0px 5px;
		display :inline-block;
		text-align: center;
	}
	@include breakpoint(large){
		font-size: 100%;
		width: 50px;
		margin: 0px 10px 0px 10px;
		display :inline-block;
		text-align: center;
	}
}

.tasklist-item-priority{
	@include breakpoint(small){
		font-size: 50%;
		width: 20px;
		margin: 0px 5px 0px 5px;
		display :inline-block;
		text-align: center;
	}
	@include breakpoint(medium){
		font-size: 75%;
		width: 30px;
		margin: 0px 5px 0px 5px;
		display :inline-block;
		text-align: center;
	}
	@include breakpoint(large){
		font-size: 100%;
		width: 50px;
		margin: 0px 10px 0px 10px;
		display :inline-block;
		text-align: center;
	}
}

.tasklist-item-description{
	@include breakpoint(small){
		font-size: 50%;
		width: 80px;
		margin: 0px 5px 0px 5px;
		display :inline-block;
		text-align: center;
	}
	@include breakpoint(medium){
		font-size: 75%;
		width: 150px;
		margin: 0px 10px 0px 10px;
		display :inline-block;
		text-align: center;
	}
	@include breakpoint(large){
		font-size: 100%;
		width: 250px;
		margin: 0px 10px 0px 10px;
		display :inline-block;
		text-align: center;
	}
}

.tasklist-item-creator{
	@include breakpoint(small){
		font-size: 0%;
		width: 0px;
		margin: 0px 0px 0px 0px;
		display :inline-block;
		text-align: center;
	}
	@include breakpoint(medium){
		font-size: 0%;
		width: 0px;
		margin: 0px 0px 0px 0px;
		display :inline-block;
		text-align: center;
	}
	@include breakpoint(large){
		font-size: 100%;
		width: 100px;
		margin: 0px 10px 0px 10px;
		display :inline-block;
		text-align: center;
	}
}

.tasklist-item-assigned{
	@include breakpoint(small){
		font-size: 50%;
		width: 80px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		text-align: center;
	}
	@include breakpoint(medium){
		font-size: 75%;
		width: 100px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		text-align: center;
	}
	@include breakpoint(large){
		font-size: 100%;
		width: 100px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		text-align: center;
	}
}

.tasklist-item-due {
	@include breakpoint(small){	
		font-size: 50%;
		width: 100px;
		margin: 0px 5px 0px 5px;
		display :inline-block;
		text-align: center;
	}
	@include breakpoint(medium){		
		font-size: 75%;
		width: 150px;
		margin: 0px 5px 0px 5px;
		display :inline-block;
		text-align: center;	
	}
	@include breakpoint(large){
		font-size: 100%;
		width: 200px;
		margin: 0px 5px 0px 5px;
		display :inline-block;
		text-align: center;	
	}
}

.tasklist-item-actions {
	@include breakpoint(small){
		font-size: 50%;
	}
	@include breakpoint(medium){
		font-size: 75%;
	}
	@include breakpoint(large){
		font-size: 100%;
	}
}

.tasklist-item-actions .fa-check-square-o {
  color: green;
}

.tasklist-item-actions .fa-window-close-o{
  color: red;
}

.tasklist-item-actions .fa-pencil {
  color: black;
}

.tasklist-item-close {
	background: grey!important;
}

.tasklist-item-close > span {
  text-decoration: line-through;
}

.tasklist-item-close .tasklist-item-actions {
  text-decoration: none;
}

.tasklist-item-close .tasklist-item-actions .fa, .tasklist-item-close > span {
  color: silver;
}

.button {
	background-color: #E59866;
	margin-left: 10px;
	margin-top: 10px;
}

